# Domain
DOMAIN=techflow24.com

# Traefik
TRAEFIK_ACME_EMAIL=your@email.com

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_DB=idp

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=changeme

# N8N
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=changeme
N8N_ENCRYPTION_KEY=changeme32charslong1234567890123

# FastAPI
API_SECRET_KEY=changeme
MONGO_URL=mongodb://admin:changeme@mongo:27017/idp?authSource=admin
